.modalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  top: 8.2vh;
  padding: 1vh;
  background-color: white;
  border-radius: 1.5vh;
  left: 90vw;
  width: 7vw;
  display: flex;
  flex-direction: column;
}

.modalButton {
  height: 4.5vh;
  border: none;
  font-size: 1.5vh;
  font-family: 'Poppins SemiBold', sans-serif;
  color: #141414;
  cursor: pointer;
  border-radius: 3vh;
  background-color: white;
  transition: ease 0.15s;
}

.modalButton:hover {
  background-color: #f54748;
  color: white;
}
